@import "../common_variables";

.dimmer {
  z-index: $defaultDimmerIndex;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.85);
}

.content{
  left: 50%;
  top: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}