%active {
  background-color: #969696;
  color: white;
  border-radius: 10%;
}

.key {
  margin: 0 5px;
  width: 45px;
  height: 30px;
  cursor: pointer;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  &:hover{
    @extend %active;
  }
}

.active_key {
  composes: key;
  @extend %active;
}