.text_cut {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 95%;
}

.thead{
  .row{
    height: 35px;
    th {
      padding: 0;
      display: flex;
      justify-content: left;
      align-items: center;
    }
  }
}

.tbody {
  .row{
    border-top: 1px solid grey;
    height: 35px;
  }
  overflow: auto;
  max-height: 50vh;
  display: block;
}

.row {
  width: 100%;
  display: flex;
}

.column {
  text-align: left;
  justify-content: space-around;
  width: 15%;
  &:nth-child(2),
  &:nth-child(3) {
    width: 25%;
  }
}

.icon {
  cursor: pointer;
  font-size: 20px;
  margin-left: 5px;
}