.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  font-size: 18px;
}

.label {
  margin-right: 20px;
}

.input {
  flex-grow: 0.7;
  font-size: 16px;
  height: 25px;
  border: 1px solid grey;
  border-radius: 2px;
}

.button {
  margin-left: 10px;
  border: 1px solid grey;
  border-radius: 2px;
  height: 30px;
  width: 90px;
  cursor: pointer;
  color: white;
  background-color: grey;
  &:hover {
    background-color: darkgrey;
  }
}